<h1>
  {{ name }}
    <small class='muted'>(${{ toDollars price }})</small>
</h1>

<div class='row'>
    <div class='col-lg-8'>
        <img {{ bind-attr src=image }} class='thumbnail col-lg-12' />
    </div>
    <div class='col-lg-4'>
    <a href="#addToCart" {{ action "addToCart" this }} class="btn">Add To Cart</a><br>
{{ description }}
    </div>
</div>